################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio 2015 cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# DNX
project.lock.json
 
#logs & temps
/**/*.log
/**/*.TMP
/**/*.tmp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
 
/**/[Bb]in/
/**/[Oo]bj/